<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-apple-pay"
		version="1.0.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>ApplePay</name>
	<js-module name="ApplePay"
			   src="www/ApplePay.js">
		<clobbers target="ApplePay" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="ApplePay">
				<param name="ios-package" value="ApplePay" />
			</feature>
		</config-file>
		<source-file src="src/ios/ApplePay.swift"/>
	</platform>
</plugin>
